.wrapper {
  padding-left: 1em;
}

.nav {
  display: flex;
  align-items: center !important;
}
.nav-tabs {
  background-color: #bbdefb;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.nav-item {
  border-radius: 0.3rem;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid #b3bfdb;
}

.btn[id*='toVideos'] {
  border-radius: 0.5rem;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  width: 25%;
  font-size: 0.6em;
}
.tip {
  background-color: white;
  color: blue;
}

.display {
  display: 'block' !important;
}
.doNotDisplay {
  display: 'none' !important;
}
.avatar {
  width: 100%;
  padding-top: 60%; /* 16:9 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  margin-right: 20px;
}
.video_player {
  height: 100%;
  padding-right: 2em;
  padding-left: 2em;
}

.logo {
  width: 8rem;
}

.vid_container {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.thumbnail {
  width: 25em;

  overflow: auto;
}

.thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}

.vid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.list-heading {
  font-size: 1em;
}

.description {
  margin-left: 10px;
  font-size: 0.9em;
  margin-right: 10px;
}

.accidentalBtn {
  font-size: 8;
  padding: 2;
  color: 'grey';
  font-weight: 'bold';
  height: 1em;
}
.subscribeBtn {
  height: 4em;
  padding: 1em !important;
  width: 50%;
}

.msg,
.msg2 {
  padding-top: 3em;
  margin-bottom: 1.5em;
}
.msg {
  font-size: 2rem;
}
.msg2 {
  font-size: 1.7rem;
}

.alt_div {
  position: absolute;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 567px) {
  .spacer {
    display: none;
  }
  .leftThumb {
    padding-left: 2em;
  }
  .subscribeBtn {
    width: 75%;
  }
  .pageLogo {
    width: 100%;
  }
  .msg {
    font-size: 1.5rem;
  }
  .msg2 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 700px) {
  .btn[id*='toVideos'] {
    font-size: 0.8em;
  }
  .logo {
    width: 10rem;
  }
}
/* 
@media only screen and (min-width: 768px) {
  .logo {
    width: 60%;
  }
} */

@media only screen and (max-width: 992px) {
  .subscribeBtn {
    font-size: xx-small !important;
  }
  .Ripple-parent {
    overflow: inherit !important;
  }
  .titles {
    font-size: 13px;
  }
}
/* @media only screen and (min-width: 992px) {
  .logo {
    width: 15rem;
  }
} */

@media only screen and (min-width: 1200px) {
  .wrap {
    max-width: inherit;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
  h6 {
    font-size: 1.2em;
  }
  .btn[id*='toVideos'] {
    width: 30%;
  }
}

@media only screen and (min-width: 1600px) {
  .xlarge_margin {
    max-width: 90%;
  }
  .btn[id*='toVideos'] {
    width: 20%;
  }
}
